h1{
	font-size: 60px;
color: white;
text-transform: uppercase;}

h2{
	font-size: 45px;}

body{
	background-color: darkgrey;}

.big{
	font-size: 100px;}

.uppercase{
	text-transform: uppercase;
}

.big.uppercase {
	color: lightsalmon;

}